<%= provide(:title, "About")%>
<div class="pages">
  <h1>About Bike Berlin </h1>
  <h3>What is this application about?</h3>
  <p>This application is the first Ruby on Rails application from the CareerFoundry Web Development Course.</p>
  <p>The store will simulate a used bike store for Berliners.</p>
</div>