<div class="pages">
  <h1>Get In Touch</h1>

  <h3>Reach us using any of the following:</h3>

  <ul>
    <li>Phone: <a href="tel: +432193250">0432193250</a></li>
    <li>Email: <a href="mailto: berlinbike@example.com">Bike Berlin</a></li>
  </ul>
</div>

