<div class="pages">
  <h1 class="text-center">Welcome to Bike Berlin</h1>
  <h2 class="text-center">Your source for used bikes in Berlin.</h2>
  <%= image_tag("racebike.jpg", class: "img-responsive center-block", alt:"racebike") %>
</div>
