<div class="pages">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="page-header">
        <h1 class="text-center">Message Advisory</h1>
      </div>
      <div class="panel panel-default thank_you">
        <div class="panel-heading">
          <div class="panel-title">
            <h3 class="text-center">Your Message Has Been Sent!</h3>
          </div>
        </div>
        <div class="panel-body">
          <p>Thank you for taking the time to drop us a line. We will respond to your query as soon as possible</p>
        </div>
      </div> 
    </div>
  </div>
</div>