<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Demystifying Email Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0">
    <table border="1" cellspacing="0" cellpadding="0" width="100%" >
      <table width="600" align="center" border="1" cellpadding="0" style="border-collapse: collapse; font-family:'Futura', 'Arial', 'Helvetica', sans-serif" >
        <tbody style="margin: 2px 0 2px 0;">
          <tr>
            <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
             <img src="http://static5.depositphotos.com/1010111/457/v/950/depositphotos_4575061-Abstract-vintage-bicycle-background.jpg" alt="Bike Berlin Email" width="375" height="265" style="display: block;" />
            </td>
          </tr>
          <tr style="background-color: #1f4946">
            <td align="center"><h3 style="margin-top: 12px; color: #fffeea; letter-spacing: 0.1em;">You have received a new contact form message. </h3></td>
          </tr>
          <tr>
            <td style="padding: 0 20px 0 20px"><h4 style="margin: 2px 0 2px 0; color: #000; letter-spacing: 0.1em;">The contents of the message are:</h4></td>
          </tr>
          <tr>
            <td style="padding: 0 20px 0 20px"><p><%= @message %></p></td>
          </tr>
        </tbody>
      </table>
    </table>
  </body>
</html>
