/*==================*/
/*Color variables*/
/*===================*/
$lightred:rgb(255, 103, 70);
$textColor : #fffeea;
$wideRow: rgb(31, 73, 70);

/*=============================
IPHONE 5 to IPHONE 6 PORTRAIT
=============================*/
@media screen and (min-width: 320px) and (max-width: 437px){


  .panel-title a{
    font-size : .7em;
    letter-spacing : 0;
    margin-left : -10px;
  }

  a span.glyphicon-forward{
    font-size : .7em;
  }
  .panel-body{
    img{
      display : none;
    }
  }

/*  .page-header h1{
    font-size : 1.5em !important;
  }
  .item img{
    border : 1px solid red;
    width : 100% !important;
    padding-top: 70px;
  }

  .carousel-caption h4{
     font-size : 1.2em !important;
  }*/
    .page-header{
        padding-bottom : 2px;
        h2{
        font-size : 1.75em !important;
        padding : 0;
        }
    }
    .item img{
      width : 100% !important;
      padding-top: 30px !important;
      padding-bottom : 30px !important;
      margin-bottom : 50px !important;
      border : 1px dashed black;
    }
    .carousel-caption {
      border : 2px dashed red;
      padding : 0 !important;
      margin-top : 80px;
    }

    .carousel-indicators{
      margin-top : 50px !important;
      margin-bottom : 1px !important;
    }

    .item{
      .carousel-caption p{
        font-size : 1.1em !important;
        color : $textColor !important;
        margin-top : 5px !important;
        margin-bottom : 15px !important;
        background-color : $wideRow !important;
        border : 1px solid red;
      }
      .carousel-caption h4{
        font-size : 1em !important;
        margin-top : 15px !important;
        margin-bottom : 1px !important;
        border : 1px solid red;
      }
    }
}
/*=============================
      IPAD PORTRAIT
=============================*/
@media screen and (max-width: 768px){
    body{
      padding-top : 35px !important;
    }
    div.col-sm-2.product-list{
       float : left;
      width : 44%;
      margin : 20px 0 20px 30px;
      p{
        font-size : 1.2em;
        line-height : 1.1em;
      }
    }
    div.col-sm-2.product-list:nth-child(3n+0){
      clear : both;
    }
    .page-header{
        padding-bottom : 2px;
        h2{
        font-size : 1.75em !important;
        padding : 0;
        }
    }
    .item img{
      width : 80% !important;
      margin-top : 1px;
      padding-top: 10px;
    }

    .carousel-caption h4{
       font-size : 1.2em !important;
    }

    .carousel-indicators{
      margin-top : 1px;
      margin-bottom : 1px !important;
    }

    .item{
      p{
        font-size : 1.1em !important;
        color : $textColor !important;
        margin-top : 1px !important;
        margin-bottom : 1px !important;
        background-color : $wideRow !important;
      }
      h4{
        font-size : 1.1em !important;
        margin-top : 1px !important;
        margin-bottom : 1px !important;
      }
    }
}
