/*Place all the styles related to the products controller here.
They will automatically be included in application.css.
You can use Sass (SCSS) here: http://sass-lang.com/*/


/*==================*/
/*Color variables*/
/*===================*/
$lightred:rgb(255, 103, 70);
$textColor : #fffeea;
$wideRow: rgb(31, 73, 70);


/*==================*/
/*Index Page Styling*/
/*==================*/
th {
  text-align : center;
  text-transform : uppercase;
  letter-spacing : 0.15em;
  color : $textColor !important;
  font-weight : 100;
}

tr.wideRow{
  background-color : $wideRow !important;
}
.form-group {
  text-transform : uppercase;
  letter-spacing : 0.15em;
  color : $lightred !important;
}

.search-form{
  margin : 14px 0 0 10px;
  padding: 0 !important;
  label{
    color : $textColor;
    margin-left: 10px;
    text-transform : uppercase;
    letter-spacing : 0.1em;
    font-weight : normal;
  }
  input[type="text"]{
    border-radius : 5px;
    height : 22px;
  }
  button[type="submit"]{
    padding : 0 5px 0 5px;
    margin : -3px 2px 0 2px;
    text-transform : uppercase;
    letter-spacing : 0.15em;
  }
}
/*======================
PRODUCTS INDEX STYLING
======================*/
div.col-md-4:nth-child(3n+1){
  clear : both;
  margin-bottom : 10px;
  p{
    font-size : 1.2em;
    line-height : 1.1em;
  }
}

div.item img{
  width : 55%;
  margin : 0 auto;
}

div.product-list img{
  width : 75%;
  margin : 0 auto;
}

div.actions{
  width : 95%;
  margin : 0 auto;
  text-align : center;
  padding : 0;
  .btn{
    margin : 0 auto;
  }
}

div.price{
  background-color : $wideRow;
  border-radius : 15px;
  letter-spacing : 0.1em;
  h3,h4{
    padding: 2px auto;
    color : $textColor !important;
  }
}

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*===============
Button Styling
===============*/
div.pull-right{
  a[role="button"]{
    background-color : $wideRow;
  }
}
a[role="button"], 
.button{
  text-transform : uppercase;
  letter-spacing : 0.05em;
  border-radius : 15px;
  padding : 2px 9px 2px 9px;
  color : $textColor !important;
  margin-bottom : 5px;
}