// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/*==================*/
/*Color variables*/
/*===================*/
$lightred:rgb(255, 103, 70);
$textColor : #fffeea;
$wideRow: rgb(31, 73, 70);
$wideRowTwo: #449d44;


/*==============================
*******GENERAL STYLING********
==============================*/
* {
  font-family : 'Futura', 'Helvetica', Arial, sans-serif !important;
  margin : 0;
  box-sizing : border-box;
}

div.flash{
  width : 100% !important;
  margin : 10px auto;
}

html, 
body{
  height : 100%;
}

body{
  padding-top: 50px;
}

.container-fluid.page-wrapper{
  min-height : 100%;
}

a:hover{
  text-decoration : none;
}
i {
  color : $textColor;
}
.pages{
  margin : 0 auto !important;
  width : 90%;
  padding : 5px;
  h2{
    text-transform : uppercase;
    letter-spacing :0.25em;
  }
}

.page-header{
  margin : 5px auto;
}


.page-wrapper:after{
  content : "";
  display : block;
}

.site-footer, 
.page-wrapper:after{
  height : 50px;
}

.site-footer{
  background : rgb(31, 73, 70);
  color : #fffeea;
  text-align : center;
  padding : 15px 0 3px 0;
  margin: -50px 0 auto;
}
#site-navigation{
  background : rgb(31, 73, 70);
}

#navbar li a{
  text-transform : uppercase;
  color : $textColor !important;
}

div.site-nav-width{
  margin : 0px 35px 0px 35px;
}

h1,
h2,
h3,
p{
  color : rgb(52, 73, 94);
}

h1,
.navbar-brand,
.site-footer{
  text-transform : uppercase !important;
  letter-spacing : 0.125em !important;
}
.navbar-brand{
  color : $textColor !important;;
}

p{
  font-size : 1.125em;
}

a{
  text-decoration : none;
}

div.item > img{
  width : 680px;
}


/*==============================
*******FAQ PAGE STYLING********
==============================*/

.panel-heading{
  background-color : $wideRow !important;
}

.panel-title a:hover,
.panel-title a:active{
  text-decoration : none;
  color : $textColor;
}

.panel-body{
  ul{
    float : left;
  }
  img {
    float : right;
    width : 35%;
    margin : 0 auto;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }
  
}

/*==================
Contact Page Styling
====================*/

button[type="submit"]{
  padding : 1px 7px;
  margin : 0 auto;
  text-transform : uppercase;
  letter-spacing : 0.15em;
}

.panel-heading.thank_you{
  background-color : $wideRowTwo !important;
}

.panel-title h3{
  color : $textColor;
  text-transform : uppercase;
  letter-spacing : 0.1em;
}



a .glyphicon-envelope{
  color : $wideRowTwo !important;
  font-size : 1em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


.glyphicon-envelope:before{
  margin-top: 4px;
  margin-bottom : 0;
}










