<div class="new-comments">
  <% if current_user %>
    <h4>Add a product review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <div class="form-group">
        <%= f.label :body, "Comments:" %>
        <%= f.text_area :body, class:"form-control", rows:"5", required:true %>
        <span class="text-center">
          <div class="form-group">
            <h5>Rate Before You Hit Submit</h5>
            <div class="rating"></div>
          </div>
        </span>
      </div>
      <div class="actions">
        <%= button_tag(type:"submit", class:"btn btn-success btn-md") do %>
          <span class="glyphicon glyphicon-pencil"></span> Submit
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>