<div class="pull-right">
<br/>
<% if current_user.admin? %>
  <%= link_to new_product_path, class:"btn btn-primary btn-xs", role:"button" do %>
    <i class="glyphicon glyphicon-plus"></i> Add New Product
  <% end %>
<% end %>
</div>
<div class="container product-container">
  <%= render 'layouts/flash' %>
  <div class="row product-row">
    <%= render @products %>
  </div>
</div>