<%= provide(:title, "All Products")%>
<div class="pull-right">
<br/>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to new_product_path, class:"btn btn-primary btn-xs", role:"button" do %>
    <i class="glyphicon glyphicon-plus"></i> Product
  <% end %>
<% end %>
</div>
<div class="container product-container">
  <%= render 'layouts/flash' %>
  <div class="row product-row">
    <% cache(cache_key_for_products) do %>
      <%= render @products %>
    <% end %>
  </div>
</div>