<div class="pages">
  <h1>New Product</h1>

  <%= render 'form' %>

  <%= link_to products_path, class: "btn btn-success btn-xs", role:"button" do %>
    <i class="glyphicon glyphicon-chevron-left"></i> Back
  <% end %>
</div>