<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<%= render 'layouts/nav' %>

<div class="container-fluid page-wrapper">
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>